name: CI

on:
  push:
    branches-ignore:
      - 'v*'
    paths-ignore:
      - '**.md'
  pull_request:
    branches-ignore:
      - 'v*'
    paths-ignore:
      - '**.md'

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - uses: actions/setup-node@v2
        with:
          node-version: '12.x'

      - run: npm ci

      - run: npm run build

      - uses: actions/upload-artifact@v2
        with:
          name: build-results
          path: .

  test-vcvarsall-invocation:
    name: Test Developer Command Prompt Setup (${{ matrix.arch }}) - ${{ matrix.os }}
    needs: build
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [windows-2016, windows-2019, windows-2022]
        arch: [x64, x32, x86_arm, x86_arm64]
    steps:
      - name: Checkout
        uses: actions/download-artifact@v2
        with:
          name: build-results
          path: .

      - name: setup-mvsc-dev
        uses: ./
        with:
          arch: ${{ matrix.arch }}

      - name: 'Verify cl.exe'
        run: where cl.exe

  test-path-exports:
    name: Test exporting tool paths - ${{ matrix.os }}
    needs: build
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [windows-2016, windows-2019, windows-2022]
    steps:
      - name: Checkout
        uses: actions/download-artifact@v2
        with:
          name: build-results
          path: .

      - name: setup-mvsc-dev
        uses: ./
        with:
          export-path-to-vcvarsall: PATH_TO_VCVARSALL
          export-path-to-vs: PATH_TO_VS

      - name: 'Verify path to vcvarsall.bat'
        shell: cmd
        run: IF NOT EXIST %PATH_TO_VCVARSALL%\vcvarsall.bat exit 1

      - name: 'Verify path to VS'
        shell: cmd
        run: IF NOT EXIST %PATH_TO_VS% exit 1